<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<!--  查询路线及行驶信息  -->
	<dict>
		<key>name</key>
		<string>remaining_time</string>
		<key>action</key>
		<string>voiceRadar_QueryRemainTime:</string>
		<key>args</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>remaining_distance</string>
		<key>action</key>
		<string>voiceRadar_QueryRemainDistance:</string>
		<key>args</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>remaining_distance_and_time</string>
		<key>action</key>
		<string>voiceRadar_QueryRemainTimeAndDis:</string>
		<key>args</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>traffic_info</string>
		<key>action</key>
		<string>voiceRadar_QueryRoadCondition:withComplete:</string>
		<key>args</key>
		<array>
			<string>destination</string>
		</array>
	</dict>
    <dict>
        <key>name</key>
        <string>ask_forward</string>
        <key>action</key>
        <string>voiceRadar_QueryForwardCondition:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>traffic_signal_num</string>
        <key>action</key>
        <string>voiceRadar_QueryRemainTrafficLight:</string>
        <key>args</key>
        <array/>
    </dict>
<!--    <dict>-->
<!--        <key>name</key>-->
<!--        <string>next_srv_area</string>-->
<!--        <key>action</key>-->
<!--        <string>voiceRadar_QueryNextServiceArea:</string>-->
<!--        <key>args</key>-->
<!--        <array/>-->
<!--    </dict>-->
    <dict>
        <key>name</key>
        <string>my_position</string>
        <key>action</key>
        <string>voiceRadar_QueryMyPosition:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>speed_limit</string>
        <key>action</key>
        <string>voiceRadar_QueryLimitedSpeed:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>ETA_query</string>
        <key>action</key>
        <string>voiceRadar_QueryEtaInfo:searchParams:withComplete:</string>
        <key>args</key>
        <array>
            <string>destination</string>
            <array>
                <string>speechid</string>
                <string>voice_query</string>
            </array>
        </array>
    </dict>
<!--  更改设置  -->
    <dict>
        <key>name</key>
        <string>open_navigate</string>
        <key>action</key>
        <string>voiceRadar_SetEnterNavigation:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>exit_light_navi</string>
        <key>action</key>
        <string>voiceRadar_SetExitRadar:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>on_volume</string>
        <key>action</key>
        <string>voiceRadar_SetNaviVolumeOn:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>off_volume</string>
        <key>action</key>
        <string>voiceRadar_SetNaviVolumeOff:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>on_roadcond</string>
        <key>action</key>
        <string>voiceRadar_SetRoadConditionOn:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>off_roadcond</string>
        <key>action</key>
        <string>voiceRadar_SetRoadConditionOff:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>chg_map_size</string>
        <key>action</key>
        <string>voiceRadar_SetNaviMapSize:withComplete:</string>
        <key>args</key>
        <array>
            <string>zoom</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>refresh_route</string>
        <key>action</key>
        <string>voiceRadar_SetRefreshRoute:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>car_limit</string>
        <key>action</key>
        <string>voiceRadar_SetCarLimit:withComplete:</string>
        <key>args</key>
        <array>
            <string>value</string>
        </array> 
    </dict>
    <dict>
        <key>name</key>
        <string>voice_market</string>
        <key>action</key>
        <string>voiceRadar_SetOpenVoiceSquarePage:</string>
        <key>args</key>
        <array/>
    </dict>
<!--  更改路线  -->
    <dict>
        <key>name</key>
        <string>prefer</string>
        <key>action</key>
        <string>voiceRadar_ChangeRoutePreference:withComplete:</string>
        <key>args</key>
        <array>
            <string>prefer</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>more_fast</string>
        <key>action</key>
        <string>voiceRadar_QueryFasterRoute:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>avoid_congestion</string>
        <key>action</key>
        <string>voiceRadar_QueryAvoidJamRoute:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>prefer_quicker</string>
        <key>action</key>
        <string>voiceRadar_QueryFasterRoute:</string>
        <key>args</key>
        <array/>
    </dict>
    <!--  切换辅线  -->
    <dict>
        <key>name</key>
        <string>route</string>
        <key>action</key>
        <string>voiceRadar_ChangeAuxRoute:index:tips:withComplete:</string>
        <key>args</key>
        <array>
            <string>mrsl</string>
            <string>index</string>
            <string>tips</string>
        </array>
    </dict>
    <!--  走/不走xxx路  -->
    <dict>
        <key>name</key>
        <string>personalize_route</string>
        <key>action</key>
        <string>voiceRadar_ChangeRouteWithRoads:avoidRoads:withComplete:</string>
        <key>args</key>
        <array>
            <string>go_road</string>
            <string>avoid_road</string>
        </array>
    </dict>
    <!--  添加途经点  -->
    <dict>
        <key>name</key>
        <string>add_via_node</string>
        <key>action</key>
        <string>voiceRadar_ChangeRouteWithViaPoint:detail:isNearest:withComplete:</string>
        <key>args</key>
        <array>
            <string>type</string>
            <string>detail</string>
            <string>isNearest</string>
        </array>
    </dict>
    <!--  选择途经点  -->
    <dict>
        <key>name</key>
        <string>sel_via_node</string>
        <key>action</key>
        <string>voiceRadar_ChangeRouteWithViaIndex:withComplete:</string>
        <key>args</key>
        <array>
            <string>index</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>del_via_node</string>
        <key>action</key>
        <string>voiceRadar_ChangeRouteByDeletingAllViaPoints:</string>
        <key>args</key>
        <array/>
    </dict>
    <!--  改变终点  -->
    <dict>
        <key>name</key>
        <string>change_route</string>
        <key>action</key>
        <string>voiceRadar_ChangeDestination:searchParams:centre:alreadyDst:needComfirm:withComplete:</string>
        <key>args</key>
        <array>
            <string>destination</string>
            <array>
                <string>speechid</string>
                <string>voice_query</string>
            </array>
            <string>centre</string>
            <string>destination_repeat</string>
            <string>need_confirm</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>list_search</string>
        <key>action</key>
        <string>voiceRadar_ChangeRouteWithMultiPoiResult:mapContext:position:lng:lat:withComplete:</string>
        <key>args</key>
        <array>
            <string>destination</string>
            <string>map_context</string>
            <string>position</string>
            <string>lng</string>
            <string>lat</string>
        </array>
    </dict>
<!--  事件上报  -->
    <dict>
        <key>name</key>
        <string>report_event</string>
        <key>action</key>
        <string>voiceRadar_ReportEventWithType:detail:tag:mapContext:speechId:withComplete:</string>
        <key>args</key>
        <array>
            <string>event_type</string>
            <string>event_detail</string>
            <string>event_tag</string>
            <string>map_context</string>
            <string>speechid</string>
        </array>
    </dict>
<!--  其他类型  -->
    <dict>
        <key>name</key>
        <string>open_help</string>
        <key>action</key>
        <string>voiceRadar_QueryInstruction:withComplete:</string>
        <key>args</key>
        <array>
            <string>tts_tips</string>
        </array>
    </dict>
</array>
</plist>
