<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>des</key>
	<string>驾车路线详业务错误码qt=multinavi</string>
	<key>512005000</key>
	<dict>
		<key>content</key>
		<string>请设置完整的起终点</string>
		<key>des</key>
		<string>请设置完整的起终点</string>
	</dict>
	<key>512005001</key>
	<dict>
		<key>content</key>
		<string>节点输入有误</string>
		<key>des</key>
		<string>节点输入有误</string>
	</dict>
	<key>512005002</key>
	<dict>
		<key>content</key>
		<string>距离太近，请参考步行方案</string>
		<key>des</key>
		<string>距离太近请选择步行</string>
	</dict>
	<key>512005100</key>
	<dict>
		<key>content</key>
		<string>检索失败</string>
		<key>des</key>
		<string>检索失败</string>
	</dict>
	<key>512005200</key>
	<dict>
		<key>content</key>
		<string>获取地理位置失败</string>
		<key>des</key>
		<string>获取地理位置失败</string>
	</dict>
	<key>512005201</key>
	<dict>
		<key>content</key>
		<string>定位服务未开启</string>
		<key>des</key>
		<string>定位服务未开启</string>
	</dict>
	<key>512005030</key>
	<dict>
		<key>content</key>
		<string>网络异常，请稍后重试</string>
		<key>des</key>
		<string>网络不可用</string>
	</dict>
	<key>512005031</key>
	<dict>
		<key>content</key>
		<string>网络异常，请稍后重试</string>
		<key>des</key>
		<string>网络异常，尝试联网线路规划失败</string>
	</dict>
	<key>512005050</key>
	<dict>
		<key>content</key>
		<string>发起算路失败</string>
		<key>des</key>
		<string>无法发起算路</string>
	</dict>
	<key>512005051</key>
	<dict>
		<key>content</key>
		<string>发起算路失败</string>
		<key>des</key>
		<string>起点设置失败</string>
	</dict>
	<key>512005052</key>
	<dict>
		<key>content</key>
		<string>发起算路失败</string>
		<key>des</key>
		<string>终点设置失败</string>
	</dict>
	<key>512005054</key>
	<dict>
		<key>content</key>
		<string>发起算路失败</string>
		<key>des</key>
		<string>上次算路取消了，需要等一会</string>
	</dict>
	<key>512005055</key>
	<dict>
		<key>content</key>
		<string>行政区域数据没有</string>
		<key>des</key>
		<string>行政区域数据没有</string>
	</dict>
	<key>512005056</key>
	<dict>
		<key>content</key>
		<string>发起算路失败</string>
		<key>des</key>
		<string>引擎未初始化</string>
	</dict>
	<key>512005057</key>
	<dict>
		<key>content</key>
		<string>发起检索失败</string>
		<key>des</key>
		<string>light检索未成功发送</string>
	</dict>
	<key>112000200</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>签名错误</string>
	</dict>
	<key>112000201</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>请求参数错误</string>
	</dict>
	<key>112000202</key>
	<dict>
		<key>content</key>
		<string>服务异常，请稍后重试</string>
		<key>des</key>
		<string>后端数据返回错误</string>
	</dict>
	<key>112000203</key>
	<dict>
		<key>content</key>
		<string>服务异常，请稍后重试</string>
		<key>des</key>
		<string>phpUI对后端返回数据处理错误</string>
	</dict>
	<key>112000204</key>
	<dict>
		<key>content</key>
		<string>服务异常，请稍后重试</string>
		<key>des</key>
		<string>phpuisilm过程中发生错误</string>
	</dict>
	<key>112000205</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>qt错误</string>
	</dict>
	<key>112000206</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>接收到网络数据为空</string>
	</dict>
	<key>112000207</key>
	<dict>
		<key>content</key>
		<string>服务异常，请稍后重试</string>
		<key>des</key>
		<string>服务端返回type错误</string>
	</dict>
	<key>112000520</key>
	<dict>
		<key>content</key>
		<string>服务异常，请稍后重试</string>
		<key>des</key>
		<string>后端错误细分开始</string>
	</dict>
	<key>112000521</key>
	<dict>
		<key>content</key>
		<string>服务异常，请稍后重试</string>
		<key>des</key>
		<string>uii-route内部错误</string>
	</dict>
	<key>112000522</key>
	<dict>
		<key>content</key>
		<string>未搜索到结果</string>
		<key>des</key>
		<string>检索失败</string>
	</dict>
	<key>112000523</key>
	<dict>
		<key>content</key>
		<string>服务异常，请稍后重试</string>
		<key>des</key>
		<string>broker结果为空</string>
	</dict>
	<key>112000524</key>
	<dict>
		<key>content</key>
		<string>未搜索到结果</string>
		<key>des</key>
		<string>起点检索失败</string>
	</dict>
	<key>112000525</key>
	<dict>
		<key>content</key>
		<string>未搜索到结果</string>
		<key>des</key>
		<string>途经点检索失败</string>
	</dict>
	<key>112000526</key>
	<dict>
		<key>content</key>
		<string>未搜索到结果</string>
		<key>des</key>
		<string>终点检索失败</string>
	</dict>
	<key>112000527</key>
	<dict>
		<key>content</key>
		<string>服务异常，请稍后重试</string>
		<key>des</key>
		<string>uii-routePackage error</string>
	</dict>
	<key>112000528</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>部分参数错误</string>
	</dict>
	<key>112000550</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>参数解析错误</string>
	</dict>
	<key>112000551</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>RE RPC失败</string>
	</dict>
	<key>112000552</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>RE绑路参数解析失败</string>
	</dict>
	<key>112000553</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>RE绑路起终点非法</string>
	</dict>
	<key>112000554</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>RE绑路其他原因失败</string>
	</dict>
	<key>112000555</key>
	<dict>
		<key>content</key>
		<string>服务异常，请稍后重试</string>
		<key>des</key>
		<string>base to topo</string>
	</dict>
	<key>112000556</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>globle to local</string>
	</dict>
	<key>112000557</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>RE解析参数失败</string>
	</dict>
	<key>112000558</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>找不到最短路径 如图不通</string>
	</dict>
	<key>112000559</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>GE RPC失败</string>
	</dict>
	<key>112000560</key>
	<dict>
		<key>content</key>
		<string>请求服务失败</string>
		<key>des</key>
		<string>GE添加诱导信息失败</string>
	</dict>
	<key>112000561</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>protobuf3mcpack失败</string>
	</dict>
	<key>112000562</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>GE获取link失败</string>
	</dict>
	<key>112000563</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>Rank RPC失败</string>
	</dict>
	<key>112000564</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>Rank处理信息失败</string>
	</dict>
	<key>112000565</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>RWS RPC失败</string>
	</dict>
	<key>112000566</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>路线偏好云控制请求失败</string>
	</dict>
	<key>112000567</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>GE link之前的跳跃点拓扑失败</string>
	</dict>
	<key>112000568</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>GE siwei_link_id转化topo_link_id失败</string>
	</dict>
	<key>112000569</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>GE数据版本错误</string>
	</dict>
	<key>112000570</key>
	<dict>
		<key>content</key>
		<string>服务数据异常</string>
		<key>des</key>
		<string>RWS数据和诱导数据不匹配</string>
	</dict>
	<key>112000600</key>
	<dict>
		<key>content</key>
		<string>目前未搜索到结果</string>
		<key>des</key>
		<string>未知错误</string>
	</dict>
	<key>112009000</key>
	<dict>
		<key>content</key>
		<string>该地区暂不支持此服务</string>
		<key>des</key>
		<string>海外地图暂不支持驾车检索</string>
	</dict>
	<key>412000105</key>
	<dict>
		<key>content</key>
		<string>网络处理异常</string>
		<key>des</key>
		<string>算路请求，网络Get错误</string>
	</dict>
	<key>412000106</key>
	<dict>
		<key>content</key>
		<string>无法连接网络</string>
		<key>des</key>
		<string>算路请求，网络连接错误</string>
	</dict>
	<key>412000107</key>
	<dict>
		<key>content</key>
		<string>网络请求错误</string>
		<key>des</key>
		<string>算路请求，请求发送错误</string>
	</dict>
	<key>412000108</key>
	<dict>
		<key>content</key>
		<string>网络连接超时，请稍后重试</string>
		<key>des</key>
		<string>算路请求，网路超时错误</string>
	</dict>
	<key>412000109</key>
	<dict>
		<key>content</key>
		<string>网络请求错误</string>
		<key>des</key>
		<string>算路请求，其他网络错误</string>
	</dict>
	<key>412000450</key>
	<dict>
		<key>content</key>
		<string>网络连接失败</string>
		<key>des</key>
		<string>网络未连接，请检查网络设置后重试</string>
	</dict>
	<key>412000470</key>
	<dict>
		<key>content</key>
		<string>网络请求错误</string>
		<key>des</key>
		<string>网络请求发送错误</string>
	</dict>
	<key>412000471</key>
	<dict>
		<key>content</key>
		<string>网络无法连接</string>
		<key>des</key>
		<string>网络响应数据读取失败 </string>
	</dict>
	<key>412000472</key>
	<dict>
		<key>content</key>
		<string>网络无法连接</string>
		<key>des</key>
		<string>网络响应数据过大</string>
	</dict>
	<key>412000300</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>pb反序列化错误</string>
	</dict>
	<key>412000301</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>pb数据异常错误</string>
	</dict>
	<key>412000302</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>pb解析中route错误</string>
	</dict>
	<key>412000303</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>p解析过程中内存异常</string>
	</dict>
	<key>412000304</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>转化地图pb句柄为空</string>
	</dict>
	<key>412000305</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>转化地图pb数据错误</string>
	</dict>
	<key>412000100</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>拼接url，生成内存错误</string>
	</dict>
	<key>412000101</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>拼接url，Route错误</string>
	</dict>
	<key>412000102</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>拼接url，签名错误</string>
	</dict>
	<key>412000400</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>低版本</string>
	</dict>
	<key>412000401</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>错误的版本号</string>
	</dict>
	<key>412000402</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>无起点</string>
	</dict>
	<key>412000403</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>无终点</string>
	</dict>
	<key>412000404</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>坐标格式错误</string>
	</dict>
	<key>412000405</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>Waypoint不唯一</string>
	</dict>
	<key>412000406</key>
	<dict>
		<key>content</key>
		<string>目前未搜索到结果</string>
		<key>des</key>
		<string>规划取消</string>
	</dict>
	<key>412000407</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string> 起始地在云端干预路段上</string>
	</dict>
	<key>412000408</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地1在云端干预路段上</string>
	</dict>
	<key>412000409</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地2在云端干预路段上</string>
	</dict>
	<key>412000410</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地3在云端干预路段上</string>
	</dict>
	<key>412000411</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地4在云端干预路段上</string>
	</dict>
	<key>412000412</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地5在云端干预路段上</string>
	</dict>
	<key>412000413</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>起始地离路太远</string>
	</dict>
	<key>412000414</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地1离路太远</string>
	</dict>
	<key>412000415</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地2离路太远</string>
	</dict>
	<key>412000416</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地3离路太远</string>
	</dict>
	<key>412000417</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地4离路太远</string>
	</dict>
	<key>412000418</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>目的地5离路太远</string>
	</dict>
	<key>412000419</key>
	<dict>
		<key>content</key>
		<string>起终点太近，请参考步行方案</string>
		<key>des</key>
		<string>起始地离目的地太近</string>
	</dict>
	<key>412000420</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>本地路线规划数据缺失</string>
	</dict>
	<key>412000421</key>
	<dict>
		<key>content</key>
		<string>发起请求失败</string>
		<key>des</key>
		<string>无网络无离线数据错误</string>
	</dict>
	<key>412000500</key>
	<dict>
		<key>content</key>
		<string>网络请求失败</string>
		<key>des</key>
		<string>行进中请求其他路线或者干预路线超时</string>
	</dict>
	<key>412000501</key>
	<dict>
		<key>content</key>
		<string>网络请求失败</string>
		<key>des</key>
		<string>计算诱导信息失败</string>
	</dict>
	<key>412000502</key>
	<dict>
		<key>content</key>
		<string>网络请求失败</string>
		<key>des</key>
		<string>计算诱导信息网络失败</string>
	</dict>
	<key>412000503</key>
	<dict>
		<key>content</key>
		<string>网络请求失败</string>
		<key>des</key>
		<string>更新路况失败</string>
	</dict>
	<key>412000600</key>
	<dict>
		<key>content</key>
		<string>网络无法连接，请重试</string>
		<key>des</key>
		<string>响应数据读取失败，可能是超时，也可能是网络其他错误</string>
	</dict>
	<key>412000601</key>
	<dict>
		<key>content</key>
		<string>网络无法连接，请重试</string>
		<key>des</key>
		<string>响应数据读取失败，原因是返回响应数据过大，buf溢出</string>
	</dict>
	<key>412000602</key>
	<dict>
		<key>content</key>
		<string>网络传输异常，请重试</string>
		<key>des</key>
		<string>不支持断点续传</string>
	</dict>
	<key>412000603</key>
	<dict>
		<key>content</key>
		<string>网络传输异常，请重试</string>
		<key>des</key>
		<string>断点续传过程中服务端数据变化，发生数据不一致 </string>
	</dict>
	<key>412000604</key>
	<dict>
		<key>content</key>
		<string>目前未搜索到结果</string>
		<key>des</key>
		<string>请求取消</string>
	</dict>
	<key>412000605</key>
	<dict>
		<key>content</key>
		<string>网络无法连接，请重试</string>
		<key>des</key>
		<string>网络超时错误</string>
	</dict>
	<key>412000606</key>
	<dict>
		<key>content</key>
		<string>网络无法连接，请重试</string>
		<key>des</key>
		<string>网络连接超时</string>
	</dict>
	<key>412000607</key>
	<dict>
		<key>content</key>
		<string>网络无法连接，请重试</string>
		<key>des</key>
		<string>网络发送超时</string>
	</dict>
	<key>412000608</key>
	<dict>
		<key>content</key>
		<string>网络无法连接，请重试</string>
		<key>des</key>
		<string>网络接收超时</string>
	</dict>
	<key>412000609</key>
	<dict>
		<key>content</key>
		<string>网络无法连接，请重试</string>
		<key>des</key>
		<string>dns解析错误</string>
	</dict>
	<key>412000610</key>
	<dict>
		<key>content</key>
		<string>网络无法连接，请重试</string>
		<key>des</key>
		<string>dns解析超时</string>
	</dict>
	<key>412000611</key>
	<dict>
		<key>content</key>
		<string>网络无法连接，请重试</string>
		<key>des</key>
		<string>网络写错误</string>
	</dict>
	<key>412000612</key>
	<dict>
		<key>content</key>
		<string>网络连接错误，请重试</string>
		<key>des</key>
		<string>http engine层内存分配失败</string>
	</dict>
	<key>412000613</key>
	<dict>
		<key>content</key>
		<string>网络连接错误，请重试</string>
		<key>des</key>
		<string>http engine层获取httpclient层status状态错误</string>
	</dict>
	<key>412000614</key>
	<dict>
		<key>content</key>
		<string>数据解析失败，请重试</string>
		<key>des</key>
		<string>pb格式校验错误</string>
	</dict>
	<key>412000615</key>
	<dict>
		<key>content</key>
		<string>网络连接错误，请重试</string>
		<key>des</key>
		<string>302跳转无跳转地址错误</string>
	</dict>
	<key>412000616</key>
	<dict>
		<key>content</key>
		<string>网络连接错误，请重试</string>
		<key>des</key>
		<string>302跳转内存分配失败</string>
	</dict>
	<key>312000001</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>算路返回PB类型错误</string>
	</dict>
	<key>312000002</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>导航检索返回PB类型错误</string>
	</dict>
	<key>312000003</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>导航返回结果route数组count为空</string>
	</dict>
	<key>312000004</key>
	<dict>
		<key>content</key>
		<string>数据解析失败</string>
		<key>des</key>
		<string>导航报错，但是没有返回错误码数据</string>
	</dict>
	<key>5400</key>
	<dict>
		<key>content</key>
		<string>不支持国际算路</string>
		<key>des</key>
		<string>不支持国际算路</string>
	</dict>
</dict>
</plist>
